body {
    background-color: rgb(44, 46, 46);
    color: white;
}
table {
    border-collapse: collapse;
    margin: 1rem;
}

table th, table td {
    border: 1px solid black;
    text-align: center;
    padding: 0.4rem 1.2rem;
}

table th {
    padding: 0.8rem;
}